@mixin searchHistoryButton {
  border: 0.5px solid rgb(56, 56, 56);
  background-color: #f0eeff;
  cursor: pointer;
  font-weight: 600;
  padding: 4px 24px;
  border-radius: 10rem;
  box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%),
    0 1px 3px 0 rgb(93 100 148 / 20%);
  transition: all 0.1s ease-out;
  &:hover {
    box-shadow: 0 4px 6px 0 rgba(64, 64, 65, 0.3);
  }
}
