@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$main-font: 'Lora', serif;
$sub-font: 'Roboto', sans-serif;

$main-header: 2.4rem;
$section-header: 2rem;
$subheading-header: 1.6rem;
