@mixin categoryStyle {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: rgb(201, 45, 45);
  font-weight: 600;
  text-decoration: none;
  margin-right: 6px;
}

@mixin desktopHeader {
  .dropdown {
    position: relative;
    display: inline-block;

    &:hover {
      .drop-btn {
        background-color: #ecb075;
      }
      .dropdown-content {
        display: block;
      }
    }

    .drop-btn {
      background-color: #c48035;
      color: white;
      padding: 8px 18px;
      border: none;
      border-radius: 0.5rem;
      font-size: 1rem;
      cursor: pointer;
      transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s,
        -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    }

    .dropdown-content {
      display: none;
      cursor: pointer;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;

      p {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        border-radius: 1rem;

        &:hover {
          background-color: #f0cdab;
        }
      }
    }
  }
}
