@use "abstracts/index" as *;

* {
  margin: 0;
  box-sizing: border-box;
  font-family: $main-font;
}

main {
  min-width: 366px;
  margin: auto;
  display: grid;
  grid-template-areas:
    "header header header"
    "hero hero hero"
    "search search search"
    "intro intro intro"
    "daily daily daily";
  grid-area: search / intro / daily / weekly;
}

header {
  margin: auto;
  grid-area: header;
  display: flex;
  justify-content: right;
  height: 65px;
  width: 100%;
  align-items: center;

  @include desktopHeader;

  h1 {
    margin: 0 20px 0 0;
  }
}

.hero {
  grid-area: hero;
  display: grid;
  grid-template-areas: "stack";
  height: 160px;
  place-items: center;
  background: url(../images/flatlay-iron-skillet-with-meat-and-other-food.jpg);
  background-size: 190%;
  background-position: center;
  background-repeat: no-repeat;

  #search-meals {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      margin: 0.2rem auto;
      color: white;
      font-weight: 400;
      font-size: 2rem;
      text-shadow: 3px 3px 4px #202020;
    }
    form {
      display: flex;
      width: 90%;
      margin: 2px;
      height: 1.9rem;
      border: 1px solid rgba(0, 0, 0, 0.534);
      border-radius: 3rem;
      background-color: white;
    }
    input {
      border: none;
      margin: 0 5px;
      font-size: 14px;
      font-family: $sub-font;
      width: 100%;
      border-radius: 2rem;
    }
    input:focus {
      outline: none;
    }
    button {
      font-family: $sub-font;
      width: 30%;
      background-color: #4e9af1;
      display: inline-block;
      padding: 0.2em 1em;
      border: 0.16em solid rgba(255, 255, 255, 0);
      border-radius: 2em;
      color: #ffffff;
      text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
      text-align: center;
      transition: all 0.2s;
      &:hover {
        border-color: #87bdfa;
      }
    }
  }
}

.search-container {
  grid-area: search;
  display: grid;
  grid-template-areas:
    "heading"
    "results";
  width: 100%;

  .search-header {
    display: flex;
    justify-content: space-between;
    grid-area: heading;
    #search-hits {
      margin: 8px 16;
      flex: 1;
      align-self: center;
    }
    #search-history {
      display: flex;
      justify-content: right;
      margin: 8px 16px;
      flex: 1;
      .history-btn {
        @include searchHistoryButton;
      }
    }
  }
  .meals {
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    margin: 0 16px;
    .meal-card {
      box-shadow: 0.1rem 0.2rem 0.3rem 0.1rem rgba(0, 0, 0, 0.1);
      position: relative;
      .like {
        cursor: pointer;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 3%;
        right: 3%;
      }
      .remove-fav {
        cursor: pointer;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 3%;
        right: 3%;
        background-image: url(../images/liked.png);
        background-size: cover;
        &:hover {
          background-image: url(../images/remove_like.png);
        }
      }
      .liked {
        background-image: url(../images/liked.png);
        background-size: cover;
      }
      .not-liked {
        background-color: #c0c0c0;
        border-radius: 50px;
        background-image: url(../images/not-liked.png);
        background-size: cover;
      }
      .meal-img {
        width: 100%;
        object-fit: cover;
        background-color: #eee;
        border-top-left-radius: 0.4rem;
        border-top-right-radius: 0.4rem;
      }

      .meal-info {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0 0.2rem;
        margin: 0.2rem 0 0.5rem;
        .meal-name {
          font-size: 1rem;
          display: inline;
        }
        .meal-category {
          @include categoryStyle;
          font-family: $main-font;
        }
      }
    }
  }
}

.introduction {
  grid-area: intro;
}

.random-recipe {
  display: grid;
  grid-area: daily;

  > h2 {
    margin: 16 16 0 16;
  }

  .random-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin: 8px 16px 16px 16px;
    img {
      width: 100%;
    }
    .random-meal-info {
      .meal-category {
        @include categoryStyle;
        font-family: $main-font;
      }
      h4 {
        margin: 0.5rem 0 0.2rem 0;
      }
      h4,
      p {
        font-family: $sub-font;
      }
    }
  }
}

.highlighted-recipe {
  width: 100%;
  grid-area: intro;
  display: grid;

  .highlighted-meal {
    img {
      grid-area: pic;
    }
    .highlighted-name {
      grid-area: name;
    }
    .highlighted-category {
      grid-area: name;
      @include categoryStyle;
      font-family: $main-font;
    }
  }

  //   h4 {
  //     margin: 0.5rem 0 0.2rem 0;
  //   }
  //   h4,
  //   p {
  //     font-family: $sub-font;
  //   }
}

.weekly-recipes {
  grid-area: weekly;
  border: 1px solid yellow;
  background-color: #555;
}

// ========== MEDIA QUERIES ==========

@media (min-width: $screen-sm) {
  header {
    width: 80%;
    max-width: 1600px;
    h1 {
      margin: 0;
    }
  }
  .hero {
    height: 180px;
    background-size: 150%;
    #search-meals {
      h2 {
        font-size: 2.2rem;
      }
    }
  }
  main {
    width: 80%;
    max-width: 1600px;
  }
  .search-container {
    .meals {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (min-width: $screen-md) {
  .hero {
    height: 210px;
    background-size: 120%;
    #search-meals {
      form {
        height: 2.2rem;
      }
      h2 {
        font-size: 2.9rem;
      }
    }
  }
  .search-container {
    .meals {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  .random-recipe {
    .random-container {
      display: flex;
      flex-direction: row;
      gap: 0.8rem;
      margin: 8px 16px 16px 16px;
      img {
        flex: 1;
        object-fit: cover;
        max-width: 450px;
        max-height: 450px;
      }
      .random-meal-info {
        flex: 1;
      }
    }
  }
}
@media (min-width: $screen-lg) {
  .hero {
    height: 260px;
    background-size: cover;
    #search-meals {
      h2 {
        font-size: 3.4rem;
      }
    }
  }
  .search-container {
    .meals {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

.hidden {
  display: none;
}
